
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
  }

  h1 {
    color: #333;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  #addVendorButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #34db42;
    color: #ffffff;
    border: 2px solid #34db42;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#addVendorButton:hover {
    background-color: #2980b9;
    border-color: #2980b9;
    color: #ffffff;
}

  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  .payment-status {
    font-weight: bold;
  }

  form {
    margin-top: 20px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  .loading-spinner {
    display: none;
    margin-top: 5px;
  }
 
 #searchBar {
  position: relative;
  display: flex;
  align-items: center;
}

#searchInput {
  flex: 1; /* Take up remaining space in the flex container */
  padding: 10px; /* Adjust the padding for better spacing */
  border: 1px solid #ccc; /* Add a border for a cleaner look */
  border-radius: 5px; /* Add border-radius for rounded corners */
}

#searchButton {
  margin-left: 10px; /* Add margin between input and button */
  padding: 10px; /* Adjust the padding as needed */
  box-sizing: border-box;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px; /* Match the border-radius of the input */
  cursor: pointer;
}

#searchButton:hover {
  background-color: darkblue;
}
